*{
    padding: 0%;
    margin: 0%;
}
.container{

    .navbar{
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40%;
        height: 40px;
        font-size: 20px;
        border-bottom: 2px solid white;
    }

    .logo{
        text-transform: capitalize;
        margin-left: 150px;
        font-size: 30px;
        color:rgb(251, 6, 2);
    }
    .elements{
        display: flex;
        list-style: none;
        justify-content:space-between;
        gap: 30px;
    }

    .main{
        background-color: black;
        color: white;
        display: flex;
        gap: 30px;
        justify-content: center;
        height: 100vh;

        .left{
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            padding: 50px;

            h3{
                text-transform: capitalize;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
            }
            h1{
                span{
                    color: red;
                }
                text-transform: capitalize;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
            }
            h2{
                text-transform: capitalize;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px;
            }
            p{
                text-align: justify;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 5px; 
            }
        }
        .button1{
            button{
                text-transform: capitalize;
                text-align: center;
                height: 30px;
                width: 100px;
                border-radius: 10px;
                padding: 5px;
                border-width: 2px;
                background-color: deepskyblue;
            }
        }
        .image{
            img{
                display: flex;
                height: 200px;
                padding-top: 100px;
            }
        }
    }
}